<div class="container">
    {{donor.fname}}
    {{donor.lname}}
    {{donor.age}}
    {{donor.race}}

</div>


<p>Approved: {{donor.status}}</p>

<p>
    <button type="button" name="button">
        <a href="/donors/{{donor._id}}/edit"> Edit </a>
    </button>
</p>
<p>
    <form method="POST" action="/donors/{{donor._id}}?_method=DELETE">
        <button type="submit"> Delete </button>
    </form>
</p>
