<div class="donors col-md-6" align="center">
    <h1> Potential Donors </h1>
    {{#each donors}}
    {{#unless this.status}}
    <h2>
        <a href="/donors/{{this._id}}">
            {{this.fname}}
        </a>
    </h2>
    {{/unless}}
    {{/each}}


</div>
<div class="col-md-6" align="center">
    <h1> Approved Donors </h1>
    {{#each donors}}
        {{#if this.status}}
        <h2>
            <a href="/donors/{{this._id}}">
                {{this.fname}}
            </a>
        </h2>
        {{/if}}
    {{else}}
        <p> No Available Donors at this time </p>
    {{/each}}
</div>
