<form method='POST' action="/donors/{{donor._id}}?_method=PUT">
    <fieldset>
        <p>
            <label for="status"> Status </label>
            <select>
                <option value="{{donor.status}}"> Approve </option>
                <option value="{{donor.status}}"> Decline </option>
            </select>
        </p>
        <button type="submit" name="button"> Submit </button>
    </fieldset>

    <!-- MOVIE TITLE -->
    <!-- <p>
      <label for="movie-title">Movie Title</label><br>
      <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </p> -->


    <!-- <p>
        <select>
            <option value="{{donor.status}}"> Approved </option>
            <option value="{{donor.status}}"> Decline </option>
        </select>
    </p>
    <button type="submit" name="button"> Save Profile </button> -->
</form>
