<h1>{{donor.name}}</h1>
<!-- <h2>{{donor.age}}</h2>
<p>{{donor.race}}</p>
<p>{{donor.status}}</p>

<p>
    <form method="POST" action="/donors/{{donor._id}}?_method=DELETE">
        <button type="submit" name="button">Delete</button>
    </form>
</p> -->
<p><a href="/donors/{{donor._id}}/edit">Edit</a></p>
