{{!-- Public Donors --}}
<div class="container">
    <h1 style="text-align:center"> Meet Our Donors </h1>
    <div class="col-md-12">
        {{#each donors}}
        {{#if this.status}}
        <div class="col-md-6">
            <table align="center">
                <tr>
                    <td style="padding: 10px;">
                        {{this.fname}}
                        {{this.lname}}
                    </td>
                    <td style="padding: 10px;">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px;">
                        {{this.ethnicity}}
                    </td>
                    <td style="padding: 10px;">
                        {{this.age}}
                    </td>
                </tr>
            </table>
        </div>
        {{/if}}
    {{else}}
    <h4 style="text-align:center"> No Available Donors at this time </h4>
    {{/each}}

    </div>
</div>
